[2021-12-13 08:29] alichraghi opened #65 "with iran ip, website respond `406 Not Acceptable`"
when i open [tigerbeetle.com](https://www.tigerbeetle.com) with iran ip it respond with 406 code. loads correctly when i use VPN
![image](https://user-images.githubusercontent.com/63465728/145777337-25104a78-5908-44ca-bfd6-2b997c580f26.png)

[2021-12-14 19:54] jorangreef commented on #65
Thanks @AliChraghi yes we are aware of the issue. I think it's upstream with our website host.

[2021-12-14 19:54] #65 closed, assigned to nobody

[2022-01-12 05:41] ansarizafar opened #67 "Store/query user defined custom types/entities."
I understand TigerBeetle has been designed from ground up for financial transactions but it would be great If somehow we can also store/query user defined  custom types/entities (users, products etc.)  as  If entities Ids and other data is stored in any other database  then we can loose that data because of disk failure or any other issue as other databases are not as fault tolerant as TigerBeetle

[2022-01-12 07:14] jorangreef commented on #67
Thanks @ansarizafar we hear you!

Stay tuned. TigerBeetle has actually been designed from the ground up to support custom types and custom business logic, since it's built around the concept of a "replicated state machine". Take a look at `src/state_machine.zig` for what could be customized. However, this will be some time out, and not something we'll address immediately as we need to get TigerBee

[2022-01-12 07:14] #67 closed, assigned to nobody

[2022-01-13 13:57] koekiebox opened #68 "Types: Move Commits into Transfers, rename `reserved/accepted` to `pending/posted`, rename `unit` to `ledger`, and add `ledger` to Transfer"
Currently a 2-phase Transfer makes use of the `Commit` struct during the commit operation. Making use of the `Commit` is not required during `commit` as the `Transfer` struct already hosts all the necessary types.

The commit function signature `commit_transfer(self: *StateMachine, c: Commit)` should therefore be replaced by `fn commit_transfer(self: *StateMachine, t: Transfer)`.

In addition, rem

[2022-01-13 14:34] sentientwaffle commented on #68
When a client commits a transfer, which fields of a `Transfer` would it actually send? Would it only populate the `id` plus whatever flags (previously part of `Commit`) are relevant, and leave the other `Transfer` fields zeroed?

[2022-01-13 15:44] koekiebox commented on #68
Yes @sentientwaffle . :100:.

[2022-01-13 15:57] jorangreef commented on #68
Thanks @koekiebox for getting this going!

- The `id` for the 2nd-phase transfer (previously the Commit) would be unique so it doesn't conflict with the 1st-phase transfer in the dedupe check we do in the state machine.
- The 2nd-phase transfer would then need to reference the 1st-phase transfer ID, putting this in the 128-bit `user_data` field.
- This leaves the 256-bit `reserved` field free to s

[2022-01-13 15:59] jorangreef commented on #68
So the 1st phase will set `two_phase_commit` to indicate that the two-phase commit protocol is in play, and then the 2nd phase will set either `two_phase_commit_accept` or `two_phase_commit_reject`.

[2022-01-13 16:00] jorangreef commented on #68
@koekiebox @sentientwaffle @ifreund what are your thoughts?

[2022-01-13 16:01] jorangreef commented on #68
What other options can we come up with?

[2022-01-13 16:13] sentientwaffle commented on #68
Could the wire protocol just keep using commits (or commit-like objects) and translate at the server? Commits are much smaller than transfers, so it would keep the protocol slimmer.

[2022-01-13 16:23] jorangreef commented on #68
Yes, that is a downside.

On the upside, we then have everything aligned to 128-bytes (accounts, transfers, headers), avoid the complexity of doing the conversion at the server (which is a memcpy plus additional buffer scratch space I think to translate from `Commit` to `Transfer`?), and keep the 1-to-1 mapping of data to API that we have.

It would then be a total overhead of 256 bytes to do two-

[2022-01-13 19:46] sentientwaffle commented on #68
:+1: That sounds reasonable; I expected it to be a larger difference.

[2022-01-13 19:50] jorangreef commented on #68
Cool, me too, it's a 33% extra overhead when compared like that (significant). It feels bigger when looking at the `Commit` struct alone, without taking the first phase into account, i.e. going from 64 bytes to 128 bytes is a 100% extra overhead or doubling (severe).

[2022-01-22 10:06] jorangreef commented on #68
So I think I have come up with better naming for `reserved/accepted` and for the corresponding two-phase transfer flags, that:
* maps better to industry use, and that
* won't confuse DistSys engineers into thinking we're doing "two-phase commit" consensus also through this feature. VSR does its own form of two-phase commit at a lower layer, so the present naming is overloading the term, and we had

[2022-01-22 10:09] jorangreef commented on #68
Implementing this feature of folding Commits into Transfers also has a little curve ball, because at present we dedupe the Commit like this:
[code]
This works because the Commit has the same ID as the Transfer it's committing. Whereas now, the second transfer will need a unique ID but set the `user_data` to that of the first transfer. The curve ball is that, at present, we only have hash map index

[2022-01-22 10:17] jorangreef commented on #68
While we're making these type changes, I propose we also make a few improvements for more orthogonality:
* Rename `unit` to `ledger` so that users can use `ledger` also in a broader way for multi-tenant isolation (and it makes sense to keep the actual currency unit alongside the metadata for the ledger in an external object/sql database as Rafiki is already doing, so this field is really more broa

[2022-01-22 10:20] jorangreef commented on #68
So our Account is going to look a little friendlier and more intuitive for anyone familiar with the distinction between pending/posted transfers:

[code]

Also, just to document a decision from last year, the reason we put `flags` after `{user_data, reserved, ledger, code}` is so that these fields are contiguous and can be reinterpreted for future features based on `flags`.

[2022-01-22 10:22] jorangreef commented on #68
[code]

[2022-01-22 10:26] jorangreef commented on #68
[code]

Again, when `posting` is set here, it means the transfer intends to post a `pending` transfer. For one-phase only transfers, this should not be set as it's the default.

The `hashlock` flag replaces `condition/preimage` used by the first- and second-phase transfers respectively, and must still be set for both. i.e. If the `pending` transfer has a `hashlock` with the `condition` stored in t

[2022-01-22 10:31] jorangreef commented on #68
@koekiebox what do you think? @wilsonianb and @sentientwaffle it would be great to get your input on this as well.

[2022-01-22 10:38] jorangreef commented on #68
Any other ideas if we take a step back and think differently? How could we better support pending/posting transfers where there's slippage? Or where there are multiple micro-postings against a single pending transfer?

I have a feeling we could improve this still for these use-cases, and that generalizing for these would make TB's accounting primitives more powerful while at the same time orthogon

[2022-01-22 16:49] wilsonianb commented on #68
re: `posting/voiding`, fwiw the only user-facing two-phase transfers currently present in Rafiki are wallet operators withdrawing liquidity from asset and peer liquidity accounts:
https://github.com/interledger/rafiki/blob/ff68afc9e86cb03436a4ad462efc0824438880c1/packages/backend/src/graphql/schema.graphql#L53-L78
I don't know if we would rename `finalize`/`rollback`.

What I have found a need for

[2022-01-22 21:52] sentientwaffle commented on #68
:+1: I like the name `ledger` over `unit`. We just need to be clear in the docs that cross-ledger transfers can still be linked.

But if multi-tenant is a priority, maybe it should be 2 fields? e.g.: `ledger` and `asset`, where transfers must have the same `ledger` field to be linked together.

---

Is `posted/voided` terminology known outside of credit cards? I think ILP's terminology of `fulfill

[2022-01-25 07:29] jorangreef opened #69 "Config: Allocate more messages to avoid stalling Replica's pipeline"
At present, our config only allows each replica to have 152 full-sized messages allocated but the pipeline alone (not counting any outgoing send queues even) actually requires 192 messages, so we can deadlock and not have enough messages to make progress if the network reorders all available messages before the first message in the pipeline.

This is because we have an off-by-one when we calculate

[2022-01-25 07:36] jorangreef opened #70 "MessageBus: Optimize to receive into header-only messages if possible"
We do have a separate pool containing many more `message_bus_headers_max` messages in addition to the full-sized messages in `message_bus_messages_max` but `MessageBus` is using up a whole full-sized message for the incoming `prepare_ok` messages.

We should optimize this in `MessageBus`, so that if the `header.size` is exactly `@sizeOf(Header)` then we copy the header into a header-only message,

[2022-01-25 07:39] jorangreef opened #71 "MessageBus: Only have one logical implementation, refactoring TCP out into swappable Network"
If we fix #70 then we need to do the same in `Network.deliver_message` to match this logic.

But this is a sign that we actually need to refactor `MessageBus` a little so that it accepts a swappable `Network` which does the TCP connection stuff that `MessageBus.Connection` currently does.

The goal of this refactor would be to get rid of `test/message_bus.zig` completely and make sure that we’re t

[2022-01-25 15:02] sentientwaffle commented on #69
As part of this change, I think the client `request_queue` ring capacity (see https://github.com/coilhq/tigerbeetle/blob/dcaf309abb6e1650f2fb605c14efec3e44cf18a0/src/vsr/client.zig#L70) should be a separate constant defined in `config.zig`.

Instead of defining the `request_queue` capacity in terms of `message_bus_messages_max`, `message_bus_messages_max` should be defined (in part) in terms of th

[2022-01-25 17:01] sentientwaffle commented on #69
Never mind, replicas don't have a Client, so `message_bus_messages_max` isn't defined in terms of `request_queue`.

[2022-01-25 17:02] jorangreef commented on #69
The principle is better though, to define in terms of constants rather than magic numbers.

[2022-01-25 19:47] wilsonianb commented on #68
What may end up being useful for tracking Rafiki payment authorization token usage is being able to commit a portion of a transfer and rollback the rest.
It'd be @sentientwaffle 's example :point_up_2: minus the `A → C` transfer

[2022-01-26 17:03] jorangreef commented on #68
@wilsonianb  Yes, this would be great to make available as part of solving this issue (TODO). Would it be fine if the `code` is not checked if it's provided as 0 (i.e. no code)? This would be an opt-out for operators who don't know the code at time of commit and who can't provide it. For operators who do know the code, they can set their code numbering to start at 1. This would mean we don't have

[2022-01-26 17:18] wilsonianb commented on #68
:+1:

[2022-01-26 17:25] sentientwaffle commented on #68
:+1:

---

You're correct; I mixed up the terms _slippage_ and _spread_.

In ILP-STREAM, slippage is the amount that the sender is willing to overpay. A larger slippage is naturally more expensive, but it increases the likelihood that the payment succeeds if the exchange rate varies unfavorably over the course of the streamed payment. If the rate doesn't change (or changes favorably) then the slip

[2022-01-28 13:31] matdehaast opened #74 "Support DNS based addresses for nodes"
Currently Tigerbeetle only supports IP based addresses when starting nodes. This make it very difficult to work with in cloud native enviroments that use DNS based routing.

In order to work better in these environments, Tigerbeetle should allow DNS based strings in the `addresses` flag

[2022-01-28 22:08] wilsonianb commented on #68
Would it be possible to make the `timeout` optional on two-phase commit transfers?
That might be useful for the aforementioned Rafiki withdrawals https://github.com/interledger/rafiki/issues/223

[2022-02-03 11:15] koekiebox commented on #68
Based on conversation with @jorangreef . Any objections to having the following updated `Transfer` flag names?:

## Transfer Flags:
[code]

## Functions:
The following functions will be replacing the `create_transfers / commit_transfers` functions.
[code]

## Account struct variable names;
[code]

[2022-02-03 13:29] jorangreef commented on #68
Thanks @koekiebox

Just a correction that these would also be `Transfer.flags` not functions:

[code]

The motivation for `post/void` is to follow the same credit card terminology above. The alternative option is:

[code]

Although `post_pending_transfer` is more explicit than `accept_pending_transfer` since it shows that what was pending is now about to be posted. "Accepted" doesn't really say as

[2022-02-03 13:31] jorangreef commented on #68
@wilsonianb would it be okay instead to set a max-future timeout value? Otherwise, `timeout` might accidentally be left as `0` and then the corresponding pending balance might never be released?

[2022-02-03 14:40] koekiebox commented on #68
Thank you @jorangreef . I updated my comment.
Do we have consensus regarding the renaming of the functions from `create_transfers / commit_transfers` to `transfer / post`.
The `post` function will obviously only be applicable to a pending `Transfer`.

[2022-02-03 17:10] wilsonianb commented on #68
Maybe transfer queries could help operators identify and resolve such pending transfers.
That said, whether or not Rafiki would actually utilize long/indefinite timeouts is "pending" :wink:

[2022-02-10 21:09] #69 closed, assigned to nobody

[2022-02-10 21:33] sentientwaffle commented on #70
Closing; static message pool capacity (https://github.com/coilhq/tigerbeetle/pull/72) is incompatible with header-only messages.

Details: https://github.com/coilhq/tigerbeetle/pull/72#issuecomment-1022606287.

[2022-02-10 21:33] #70 closed, assigned to nobody

[2022-04-10 23:52] wilsonianb opened #87 "install_zig.sh downloading 0.10.0"
Running [`install_zig.sh`](https://github.com/coilhq/tigerbeetle/blob/main/scripts/install_zig.sh) for [tigerbeetle-node](https://github.com/coilhq/tigerbeetle-node/blob/main/package.json#L42) is now downloading:
[code]
https://ziglang.org/download/index.json
https://github.com/wilsonianb/rafiki/runs/5964333478?check_suite_focus=true

[2022-04-11 12:00] matdehaast opened #88 "Client crashing"
Hi TB Team,

So we are running into an issue where the TB client is crashing due to an assert error. @cairin picked this up in our local env

[code]

But not 100% what is going on sure as I don't know the client code well enough but the failure is happening here https://github.com/coilhq/tigerbeetle/blob/bd9f03a7f9bf31c62a20c8864a5cd05a775256ba/src/vsr/client.zig#L484

Note i've liked a previous c

[2022-04-11 17:27] sentientwaffle commented on #88
Is the build of `tigerbeetle_go` you're using accessible anywhere? I don't see `client_c.zig` in any branches of https://github.com/coilhq/tigerbeetle-go/.

[2022-04-11 17:29] sentientwaffle commented on #88
Also, can you confirm that TB's client is only ever called from a single thread at a time (e.g. guarded by a mutex)? I assume tigerbeetle-go would do this internally, but I don't think I have access to check.

[2022-04-12 15:35] matdehaast commented on #88
@sentientwaffle thanks for looking into it. It is there on the `main` branch
https://github.com/coilhq/tigerbeetle-go/blob/main/internal/client_c/client_c.zig

I don't think it does that at all, from my understanding of the code it just creates an single instance of a tigerbeetle client. We create a singleton of the library but I think that is potentially called from multiple green threads.

[2022-04-12 16:28] sentientwaffle commented on #88
That is probably the issue. The TB client is single-threaded by design. The assertion failure you see looks like a race condition caused by access from multiple threads (in this case, I think the same `Message` is being acquired/modified simultaneously by 2 threads).

[2022-04-20 15:23] #87 closed, assigned to sentientwaffle

[2022-04-29 04:24] sublimator opened #92 "TB Docker container doesn't run on MacOS by default"
**Dumping the contents of some queries in the R&D slack channel here. Will create PR for docs later**

Referring to this specific image:
ghcr.io/coilhq/tigerbeetle@sha256:576957b8d4fadd03de01ab3983529d73d6767cd834aa8786340fc67fcd39cb69

I was looking at the rafiki repo the other day with the ultimate goal of hooking up the extension to the OP endpoints.

I tried running the tests but they were fai

[2022-05-09 12:58] matdehaast commented on #92
@sublimator is your machine an M1 mac? On my normal mac we have just been running the docker images in privledged mode to get around the above.

[2022-05-10 02:07] sublimator commented on #92
Thanks for the info. I did a quick google.

[2022-06-10 18:13] #88 closed, assigned to nobody

[2022-06-13 12:53] #68 closed, assigned to koekiebox

[2022-07-05 11:08] JoblersTune opened #97 "3_3cc350c3741d76d1b1ec4ed0e63e71b4e4259582_d9345dff9e49e3fc53b917aa5550ab933e6a66da600748fc412d1dbe8d2b5ac7"
**Bug Type:**<br>crash<br><br>**Seed:**<br>15865560025803742627<br><br>**Commit Hash:**<br>3cc350c3741d76d1b1ec4ed0e63e71b4e4259582<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=15865560025803742627<br><br>          replicas=5<br>          clients=18<br>          request_probability=15%<br>          idle_on_probability=10%<br>          idle_off_probability=19%<br>          o

[2022-07-05 11:08] JoblersTune commented on #97
This is a simulated bug being used to test the VOPR Hub's ability to automatically generate GitHub issues.

[2022-07-07 17:41] JoblersTune opened #99 "Correctness: 10143829985302419566"
**Bug Type:**<br>correctness<br><br>**Seed:**<br>10143829985302419566<br><br>**Commit Hash:**<br>0ac50f181e373f6e5b6465d0b3935986442d8cc4<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=10143829985302419566<br><br>          replicas=5<br>          clients=27<br>          request_probability=62%<br>          idle_on_probability=3%<br>          idle_off_probability=18%<br>

[2022-07-07 17:45] JoblersTune opened #100 "Correctness: 4296338862809504700"
<strong>Commit:</strong> 0ac50f181e373f6e5b6465d0b3935986442d8cc4<br>
<strong>Parameters:</strong><br>
[code]

<strong>Stack Trace:</strong><br>
[code]
<strong>Debug Logs:</strong><br>
<details><summary>Tail</summary><br>

[code]
</details>

[2022-07-08 21:52] sentientwaffle commented on #100
Chronologically:

1. Replica 0 (view=27) prepares op=16 checksum=`78014756875457191332436470636089908915` (timestamp=`199030000000`).
2. (View change…).
3. Replicas 1 prepares op=16 checksum=`280919655732552742998137919384557100881` (timestamp=`208890000000`).
4. Replicas 2 prepares op=16 checksum=`280919655732552742998137919384557100881`.
5. Replica 1 (view=31) commits op=16 checksum=`28091965573

[2022-07-09 09:48] #97 closed, assigned to nobody

[2022-07-09 12:39] jorangreef commented on #100
Thanks for the awesome detailed analysis @sentientwaffle. 🔥 🚒

Showing the events chronologically like that is so clear. I was spending the morning tripping up on the timestamps, zooming in and focusing on the `prepare_timestamp` interactions, when in fact there were multiple causes behind this, even a correctness bug.

I took a look at the `repair_header()` (`(exists)`) step:

<details><summary><

[2022-07-10 09:35] JoblersTune opened #103 "Correctness: 2307603236927025621"
**Bug Type:**<br>crash<br><br>**Seed:**<br>2307603236927025621<br><br>**Commit Hash:**<br>b09db3785d593b13dacfc5657d493f0df67d8291<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=2307603236927025621<br><br>          replicas=4<br>          clients=32<br>          request_probability=55%<br>          idle_on_probability=2%<br>          idle_off_probability=16%<br>          one_

[2022-07-10 09:38] JoblersTune opened #104 "Correctness: 5981909207155167861"
**Bug Type:**<br>crash<br><br>**Seed:**<br>5981909207155167861<br><br>**Commit Hash:**<br>b09db3785d593b13dacfc5657d493f0df67d8291<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=5981909207155167861<br><br>          replicas=4<br>          clients=16<br>          request_probability=84%<br>          idle_on_probability=11%<br>          idle_off_probability=10%<br>          one

[2022-07-11 05:46] JoblersTune opened #105 "Correctness: 11833592692126088617 “Blast from the Past”"
**Bug Type:**<br>crash<br><br>**Seed:**<br>11833592692126088617<br><br>**Commit Hash:**<br>01494c57e3640ea3186eabd40d9d2b360d17a50c<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=11833592692126088617<br><br>          replicas=4<br>          clients=16<br>          request_probability=41%<br>          idle_on_probability=8%<br>          idle_off_probability=17%<br>          on

[2022-07-11 09:44] jorangreef commented on #100
Thinking through the fix some more...

Consider this scenario where replica 0 is primary, and the replicas have the following logs (I think this is close to the essence of this seed):

[code]

Replica 0 crashes.

While repairing its log, before starting the new view as primary:
* Replica 1 sees that op 7 is a gap.
* Ops 7-8 could therefore not have committed (no quorum).
* Ops 7-8 must be discarde

[2022-07-11 09:57] jorangreef commented on #100
I think this all comes down to the reliance on `repair_header()` but for two different contexts:

1. During `view_change` status to repair the log, both for the primary and for backups,
2. During `normal` status to repair the log, for a backup to fill in gaps.

The semantics are slightly different, and there's some danger with doing this, because when I wrote `repair_header()` I was focused on con

[2022-07-11 10:01] jorangreef commented on #100
It's like that cryptographic principle that a secret key should only be used for one purpose, and only in one direction, e.g. only for encryption, or only for authentication, and only from A-to-B, not also from B-to-A. The idea is to narrow the scope and bind intention as closely as possible to the context, because not doing this could leave semantic gaps.

[2022-07-12 00:22] JoblersTune opened #106 "Correctness: 11746549870101989313"
**Bug Type:**<br>crash<br><br>**Seed:**<br>11746549870101989313<br><br>**Commit Hash:**<br>01494c57e3640ea3186eabd40d9d2b360d17a50c<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=11746549870101989313<br><br>          replicas=5<br>          clients=17<br>          request_probability=2%<br>          idle_on_probability=15%<br>          idle_off_probability=19%<br>          on

[2022-07-12 11:22] JoblersTune opened #107 "3_01494c57e3640ea3186eabd40d9d2b360d17a50c_dc1df5e1ebaa9183a35e20923adc7fab2a28244588f107bc667510685a61125b"
**Bug Type:**<br>crash<br><br>**Seed:**<br>14021050293752392118<br><br>**Commit Hash:**<br>01494c57e3640ea3186eabd40d9d2b360d17a50c<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=14021050293752392118<br><br>          replicas=3<br>          clients=5<br>          request_probability=7%<br>          idle_on_probability=0%<br>          idle_off_probability=13%<br>          one_

[2022-07-12 14:47] JoblersTune opened #108 "Correctness: 3406191993184487393"
**Bug Type:**<br>correctness<br><br>**Seed:**<br>3406191993184487393<br><br>**Commit Hash:**<br>01494c57e3640ea3186eabd40d9d2b360d17a50c<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=3406191993184487393<br><br>          replicas=3<br>          clients=6<br>          request_probability=41%<br>          idle_on_probability=7%<br>          idle_off_probability=14%<br>

[2022-07-12 15:35] JoblersTune opened #109 "Crash: 11654694784361616086"
**Bug Type:**<br>crash<br><br>**Seed:**<br>11654694784361616086<br><br>**Commit Hash:**<br>01494c57e3640ea3186eabd40d9d2b360d17a50c<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=11654694784361616086<br><br>          replicas=3<br>          clients=4<br>          request_probability=11%<br>          idle_on_probability=18%<br>          idle_off_probability=11%<br>          on

[2022-07-12 23:55] JoblersTune opened #110 "1_11493803597036870122_01494c57e3640ea3186eabd40d9d2b360d17a50c"
**Bug Type:**<br>correctness<br><br>**Seed:**<br>11493803597036870122<br><br>**Commit Hash:**<br>01494c57e3640ea3186eabd40d9d2b360d17a50c<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=11493803597036870122<br><br>          replicas=3<br>          clients=14<br>          request_probability=72%<br>          idle_on_probability=4%<br>          idle_off_probability=16%<br>

[2022-07-13 09:21] JoblersTune opened #111 "3_01494c57e3640ea3186eabd40d9d2b360d17a50c_5152f558a60ef5a9e9bf41e86fab0c05e0d98b91cd75b86879fa92e312ba3415"
**Bug Type:**<br>crash<br><br>**Seed:**<br>16161173465443828016<br><br>**Commit Hash:**<br>01494c57e3640ea3186eabd40d9d2b360d17a50c<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=16161173465443828016<br><br>          replicas=3<br>          clients=21<br>          request_probability=9%<br>          idle_on_probability=16%<br>          idle_off_probability=12%<br>          on

[2022-07-13 09:25] jorangreef commented on #111
A duplicate of #100

[2022-07-13 09:25] #111 closed, assigned to nobody

[2022-07-13 09:29] jorangreef commented on #109
Here's the stack trace:

[code]

[2022-07-13 11:48] JoblersTune opened #112 "3_01494c57e3640ea3186eabd40d9d2b360d17a50c_60b46fbf6a82f55f1d8c03dbac278d3b1d0378ea3b2b8a5e0be37d8236c2565a"
**Bug Type:**<br>crash<br><br>**Seed:**<br>18100658869621668726<br><br>**Commit Hash:**<br>01494c57e3640ea3186eabd40d9d2b360d17a50c<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=18100658869621668726<br><br>          replicas=3<br>          clients=29<br>          request_probability=38%<br>          idle_on_probability=17%<br>          idle_off_probability=15%<br>          o

[2022-07-13 12:47] JoblersTune opened #113 "Correctness: 8770239035259319625"
**Bug Type:**<br>crash<br><br>**Seed:**<br>8770239035259319625<br><br>**Commit Hash:**<br>01494c57e3640ea3186eabd40d9d2b360d17a50c<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=8770239035259319625<br><br>          replicas=3<br>          clients=17<br>          request_probability=56%<br>          idle_on_probability=18%<br>          idle_off_probability=13%<br>          one

[2022-07-13 16:14] JoblersTune opened #114 "3_01494c57e3640ea3186eabd40d9d2b360d17a50c_90881d6d811895e262c627c06ff59907fc78d84e1b7efaa6ab3d80c860c4a1f0"
**Bug Type:**<br>crash<br><br>**Seed:**<br>3676891476848934899<br><br>**Commit Hash:**<br>01494c57e3640ea3186eabd40d9d2b360d17a50c<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=3676891476848934899<br><br>          replicas=4<br>          clients=28<br>          request_probability=17%<br>          idle_on_probability=16%<br>          idle_off_probability=14%<br>          one

[2022-07-14 03:06] JoblersTune opened #115 "1_13067532511945936011_01494c57e3640ea3186eabd40d9d2b360d17a50c"
**Bug Type:**<br>correctness<br><br>**Seed:**<br>13067532511945936011<br><br>**Commit Hash:**<br>01494c57e3640ea3186eabd40d9d2b360d17a50c<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=13067532511945936011<br><br>          replicas=3<br>          clients=20<br>          request_probability=38%<br>          idle_on_probability=14%<br>          idle_off_probability=11%<br>

[2022-07-14 13:55] jorangreef commented on #113
The two ops involved in the `repair_header()` assertion that fails in the stack trace are these:

[code]

What's happening is that:

1. replica 0 is preparing op 0 in view 0 as primary,
2. replica 0's write to disk is delayed so that the header is not written before it crashes, while
3. the op is committed by the rest of the cluster without being blocked on the slow primary, thanks to TB's tail to

[2022-07-15 09:30] #113 closed, assigned to sentientwaffle

[2022-07-15 09:34] jorangreef commented on #100
Fixes: #103

[2022-07-15 11:27] jorangreef commented on #99
Replica 0 transitions to an invalid state when committing `op=35`, which was already committed as another operation by replica 2:

[code]

This is because replica 4 discarded its hash chain head at `op=36` without having the canonical `op=35` in place, allowing `58910217213832069309723205167041263321` to swing the hash chain:

[code]

This is fixed by https://github.com/coilhq/tigerbeetle/pull/102

[2022-07-15 11:27] #99 closed, assigned to nobody

[2022-07-15 11:42] jorangreef commented on #105
Here:

1. `on_message()` detects that replica 3's `on_prepare()` queued a loopback message,
2. to request a `start_view` message from itself,
3. after receiving a delayed message from the network also from itself (!),
4. before it crashed (!!),
5. recovering in view 0 with an empty WAL because it saw no prepares,
6. and therefore did not run the recovery protocol.

Fixed by https://github.com/coil

[2022-07-15 11:42] #105 closed, assigned to nobody

[2022-07-15 12:16] jorangreef commented on #107
Here:

1. Replica 0 begins preparing `op=1` in its log before crashing,
2. coming back up without running the recovery protocol, and therefore
3. seeing no session for the client upon becoming primary.

[code]

Fixed by #116

[2022-07-15 12:16] #107 closed, assigned to nobody

[2022-07-15 12:24] jorangreef commented on #106
Here, replica 2 does not run the recovery protocol.

Fixed by #116

[2022-07-15 12:24] #106 closed, assigned to nobody

[2022-07-15 12:26] jorangreef commented on #104
Fixed by #116

[2022-07-15 12:26] #104 closed, assigned to nobody

[2022-07-15 12:37] jorangreef commented on #103
Fixed by #102

[2022-07-15 12:37] #103 closed, assigned to nobody

[2022-07-15 12:37] jorangreef commented on #108
Fixed by #102

[2022-07-15 12:37] #108 closed, assigned to nobody

[2022-07-15 12:38] #110 closed, assigned to nobody

[2022-07-15 12:39] #112 closed, assigned to nobody

[2022-07-15 12:40] #114 closed, assigned to nobody

[2022-07-15 12:40] #115 closed, assigned to nobody

[2022-07-21 21:01] sentientwaffle commented on #109
I cancelled this before hitting the panic (it was stuck for a _long_ time on `0064 ee2d38a5d5503ea0ccf833b607c36d71 > 55a0e8d071dafbe03f161626cdd70afb 2`).

So I haven't looked into the above assertion failure, but it looks like in addition to that, this seed is (another) VOPR bug where either:
- a replica (0 in this case) is being crashed when it will not be able to recovery, or
- a message (op=2

[2022-07-25 21:35] sentientwaffle commented on #109
I was wrong — the view-change loop isn't due to the VOPR crashing a replica unsafely.

I now think this is what is happening:

1. Replica 0 crashes.
2. Replica 2 (leader) receives `op=26`.
3. Replica 0 restarts.
4. Replica 0 learns about `op=26` from the recover responses; it marks it as dirty & starts trying to repair it via `request_prepare`.
5. (`op=26` never arrived at replica 1).
6. Replica 2

[2022-08-01 22:32] sentientwaffle commented on #109
I realized that if it occurred as I described previously, replica 0's version would be dirty but not faulty — and thus it should be nacked during the view change! A couple of my inferences were wrong last time, but it exposed a bug in the WAL.

Updated:

1. Replica 2 (leader) receives op=26.
2. Replica 0 (follower) receives op=26 from replica 2.
3. Replica 0 writes op=26's prepare.
4. Replica 0 cr

[2022-08-03 09:42] jorangreef commented on #109
Thanks for such a detailed explanation @sentientwaffle — the fix makes perfect sense!

I tried running the seed on that same commit and couldn't find it.

[2022-08-04 12:13] JoblersTune opened #129 "3_124915ee90d5fcaabc19501c0f1cfc9ec54a95a3_8ec8413411fdc0010d6504d1702c0bc8ba7d2fc33989351de4af486e71689c42"
**Bug Type:**<br>crash<br><br>**Seed:**<br>3239115170069142110<br><br>**Commit Hash:**<br>124915ee90d5fcaabc19501c0f1cfc9ec54a95a3<br><br>**Parameters:**<br>[info] (state_checker): <br>          SEED=3239115170069142110<br><br>          replicas=6<br>          clients=17<br>          request_probability=3%<br>          idle_on_probability=9%<br>          idle_off_probability=16%<br>          one_w

[2022-08-04 12:14] #129 closed, assigned to nobody

[2022-08-04 16:05] sentientwaffle commented on #109
Fixed by https://github.com/coilhq/tigerbeetle/pull/126.

[2022-08-04 16:05] #109 closed, assigned to nobody

[2022-08-11 19:33] tigerbeetle-vopr opened #132 "Crash: 9857522920421219267"
<strong>Commit:</strong> ```53656dcb540bb3801132668ce6d43e3dc0669d9a``` <br><br><strong>Branches:</strong> sj-zig-vopr<br><strong>Parameters:</strong><br>
[code]
<br><strong>Stack Trace:</strong><br>
[code]
<br><strong>Debug Logs:</strong><br><details><summary>Tail</summary><br>
[code]
</details>

[2022-08-19 09:59] matdehaast opened #136 "Better docker shutdown behaviour"
Currently when shutting down  tigerbeetle in docker is a slow process. I think TB needs to better handle sigint/sigterm which  could correspond to better shutdown modes. Here is an comment from the postgres docker image

calls "Fast Shutdown mode" wherein new connections are disallowed and any
in-progress transactions are aborted, allowing PostgreSQL to stop cleanly and
flush tables to disk, which

[2022-08-23 08:56] jorangreef commented on #136
Thanks @matdehaast

Can you provide more context?

It looks like Postgres uses `SIGINT` to “stop cleanly and flush tables to disk [..] to avoid data corruption”, which does not apply to TB. You can crash TB safely at any time, as quickly as you like. You shouldn't need to be waiting on anything?

[2022-08-23 08:59] jorangreef commented on #136
TB also does not need Postgres' “Smart Shutdown mode”, which Postgres uses to delay shutdown until existing sessions are finished—since the new primary will simply complete the work that the terminating primary was doing, and the new primary will reply directly back to those existing sessions. So again, shutdown with TB should always be instantaneous.

I don't know if Docker is doing something to

[2022-08-23 09:00] matdehaast commented on #136
Thanks @jorangreef. So from my current understand of using TB, when I try kill a docker tigerbeetle it doesn't actually crash. It hits the docker timeout before hard killing it. Which is 20s. It would be nice for it to exit quicker if I kill the docker instance. It may be just the way that is configured to be passed to the TB process? Not sure

[2022-08-23 09:05] jorangreef commented on #136
Do you know what signal Docker is sending the TB process? It's probably sending us something very polite :)

Update: Also, confirming that you are using `docker stop ...`? You should probably see no delay if you use `docker kill ...`?

[2022-08-23 09:06] jorangreef commented on #136
Looks like it's first sending us `SIGTERM` and then waiting and then sending us `SIGKILL`, right?

[2022-08-23 09:07] jorangreef commented on #136
@kprotty would you be able to handle `SIGTERM` for us, so that it also kills the TB process?

[2022-08-23 09:13] matdehaast commented on #136
Alternatively we could just change the dockerfile default to `SIGKILL`

[code]

[2022-08-30 12:04] koekiebox opened #144 "Update Mojaloop Central-Services business logic"
https://github.com/coilhq/tigerbeetle/pull/101

[2022-08-31 08:51] koekiebox commented on #144
@jorangreef have you had a chance to review https://github.com/coilhq/tigerbeetle/pull/101
Thank you,

[2022-09-06 04:00] lewisdaly commented on #74
Yep - I've just learned this problem myself. I was trying to specify a `docker-compose` file for local development, and the only way I could get each replica to find each other while also respecting the `addresses` field was to use the host network instead of the local docker network.

Here's an example docker-compose file in case anyone else runs into this problem:

[code]

[2022-09-06 20:49] sentientwaffle commented on #71
Is this still applicable, since there is no header-only message pool anymore, and the message pool isn't owned by the `MessageBus`? I don't see much (if any) shared logic between the primary & test `MessageBus` implementations.

[2022-09-07 07:46] matdehaast commented on #74
@lewisdaly how we are currently getting around this is using a nginx proxy sidecar

Its crude but you can see an example of it [here](https://github.com/interledger/rafiki/blob/be22b858ed0994975df14b9e9d7dd7b5a3d8c7f3/infrastructure/helm/tigerbeetle/templates/configmap.nginx.yaml)

[2022-09-07 08:41] jorangreef commented on #71
If there's no longer any shared logic at all between primary and test implementations, then let's close!

[2022-09-07 08:41] #71 closed, assigned to nobody

[2022-09-11 19:01] dangdennis opened #157 "Plans for bitemporal queries and applications?"
Is tigerbeetle planning to support bitemporal queries and execution such that we can retroactively apply debits/credits? Likewise, will we be able to track when such a retroactive action took place?

[2022-09-12 07:29] koekiebox commented on #144
https://github.com/tigerbeetledb/tigerbeetle/pull/101
Merged.

[2022-09-12 07:29] #144 closed, assigned to koekiebox

[2022-09-14 19:40] sentientwaffle commented on #157
This isn't on the road map right now. But I'm interested to hear more about the use cases and applications for this feature.

[2022-09-14 20:56] dangdennis commented on #157
Hi @sentientwaffle. Maybe this idea is entirely against the rules of double entry accounting. Happy to be educated!

The feature in discussion is essentially built-in tracking of all historical changes, including edits to invalid transactions or perhaps adding a transaction into the past. It's what [xtdb](https://docs.xtdb.com/concepts/bitemporality/) offers but they don't have the double entry ac

[2022-09-14 21:53] sentientwaffle commented on #157
Thank you for the explanation!

I just talked to @jorangreef and I was wrong — we may support this in the future after all.

Your "Example with an append-only logic" accurately reflects how it works right now in TigerBeetle — if there's a mistake, just create a new transfer to fix the mistake.

It sounds like bitemporal queries can be made to work with double-entry accounting. But I haven't wrappe

[2022-09-14 22:45] #157 closed, assigned to nobody

[2022-09-23 17:38] jamii opened #167 "scripts/benchmark.sh was broken by dc45c90c759dd754d8fbbe896f901d462736a2de"
Before dc45c90c759dd754d8fbbe896f901d462736a2de the benchmark completes successfully. Afterwards it gets stuck at https://github.com/tigerbeetledb/tigerbeetle/blob/156b04750626d5fd11f017b5bfb9c2858c983926/src/vsr/replica.zig#L5466 because storage.tick() is now a noop.

[2022-09-26 09:32] jorangreef commented on #167
This also breaks our `format` command.

CC @sentientwaffle and @kprotty

[2022-09-26 13:09] kprotty commented on #167
`storage.tick` was made to be a no-op from the referenced commit as its now recommended to `io.tick` directly instead. We could try removing `storage.tick` and see where it's used.

[2022-09-26 18:04] sentientwaffle commented on #167
@kprotty was this fixed by https://github.com/tigerbeetledb/tigerbeetle/pull/169?

[2022-09-26 18:30] kprotty commented on #167
Yep

[2022-09-26 18:30] #167 closed, assigned to nobody

[2022-10-03 17:19] eatonphil opened #175 "Panic in src/lsm/manifest.zig:317"
Running [this script](https://gist.github.com/eatonphil/3bceb01e603ea0edcae16217c592c2fb) against the latest main commit I got:

[code]

[2022-10-07 18:27] #100 closed, assigned to nobody

[2022-10-07 18:29] jorangreef commented on #175
@sentientwaffle this should be fixed by your https://github.com/tigerbeetledb/tigerbeetle/pull/180

[2022-10-07 18:31] sentientwaffle commented on #175
Yes, good catch. @eatonphil after the node client is [updated](https://github.com/tigerbeetledb/tigerbeetle-node/pull/36) can you confirm that this is fixed?

[2022-10-08 10:24] batiati commented on #175
I tested it using the Java client:

**1.** The same use case as [the original one](https://gist.github.com/eatonphil/3bceb01e603ea0edcae16217c592c2fb): submitting 100 million batches, each one with 1 transaction.

The server doesn't panic on this assert anymore, but instead, I got a panic on the client side:
[code]
**2.** Not exactly the same case, but related: submitting 100 batches, each with a

[2022-10-08 17:27] jamii opened #183 "lsm_forest_fuzz: 7289599745671114828"
At 2a134ecea5b546e138a2e781c0b8df50d981557b.

[code]

[2022-10-08 17:28] jamii opened #184 "lsm_forest_fuzz: 4075310295854600248"
At 2a134ecea5b546e138a2e781c0b8df50d981557b.

[code]

[2022-10-08 17:32] jamii opened #185 "lsm_forest_fuzz: 13117012641703417096"
At 2a134ecea5b546e138a2e781c0b8df50d981557b.

[code]

[2022-10-08 17:33] jamii opened #186 "lsm_forest_fuzz: 11035627816572296482"
At 2a134ecea5b546e138a2e781c0b8df50d981557b.

[code]

[2022-10-08 17:35] jamii opened #187 "lsm_forest_fuzz: 10048288728635360357"
At 2a134ecea5b546e138a2e781c0b8df50d981557b.

[code]

[2022-10-08 17:36] jamii opened #188 "lsm_forest_fuzz: 10351473442468558373"
At 2a134ecea5b546e138a2e781c0b8df50d981557b.

[code]

[2022-10-08 17:40] sentientwaffle commented on #186
Possibly related to the heap update order issue; see https://github.com/tigerbeetledb/tigerbeetle/pull/177.

[2022-10-08 17:41] sentientwaffle commented on #175
Thanks @batiati, this is great!

1. Possible fix: https://github.com/tigerbeetledb/tigerbeetle/pull/182
2. Also found via fuzzer! https://github.com/tigerbeetledb/tigerbeetle/issues/188

[2022-10-08 18:07] jamii opened #189 "lsm unit/fuzz testing"
* [x] binary_search
* [ ] bloom_filter
  * [x] no false negatives
  * [ ] test false positive rate (requires calculating the expected rate, which is hard without poisson distribution in stdlib)
* [ ] k_way_merge
* [x] segmented_array
* [ ] set_associative_cache
* [x] node_pool
* [x] superblock (done in https://github.com/tigerbeetledb/tigerbeetle/pull/224)
* [ ] superblock manifest encode/decode
*

[2022-10-08 18:49] batiati commented on #175
Hi @sentientwaffle
It looks like I'm hitting #187 after your fix #182.

Well done fuzzer!!! 🚀

[2022-10-08 23:11] sentientwaffle commented on #188
This should be addressed by the new iterators in https://github.com/tigerbeetledb/tigerbeetle/pull/177 once it is done.

In `LevelIterator.pop()`, we perform an extra peek (beyond what `buffered_enough_values()` considers "enough") to decide whether the head table iterator is empty.

[2022-10-09 01:04] sentientwaffle commented on #183
This is the "Compaction iterator IO tracking" issue described in https://github.com/tigerbeetledb/tigerbeetle/pull/177.

[2022-10-09 08:10] lewisdaly commented on #92
@matdehaast - I've been using privileged mode as well to get around this, but the annoying thing is that the `*.tigerbeetle` file is then owned by root, which causes problems when writing scripts to bring up/tear down tigerbeetle instances. Have you run into that problem at all? I'd rather not run my scripts as sudo...

For example, I have a docker container that runs the `tigerbeetle format ...`

[2022-10-10 17:43] #184 closed, assigned to sentientwaffle

[2022-10-10 17:43] #185 closed, assigned to sentientwaffle

[2022-10-10 17:43] #187 closed, assigned to sentientwaffle

[2022-10-10 18:08] jorangreef commented on #92
Thanks @lewisdaly we're trying to figure this one out too and talking it through.

[2022-10-11 12:08] eatonphil commented on #92
I'm pretty sure the way you modify who "root" is in the container is with  the global [userns-remap](https://docs.docker.com/engine/security/userns-remap/) setting. (Podman doesn't have this global-only limitation, but I also haven't been able to get TigerBeetle working in podman yet and I don't know if there's an equivalent Podman for Mac either). The `docker run` `-u/--user` flag only lets you m

[2022-10-11 12:17] sublimator commented on #92
@lewisdaly

You might try setting memlock limits as in OP
For docker-compose, it seems to be configured here:
https://docs.docker.com/compose/compose-file/#ulimits

@matdehaast

No, it's an Intel (he says, 5 months later)

[2022-10-12 02:45] sentientwaffle commented on #175
Closing in favor of https://github.com/tigerbeetledb/tigerbeetle/issues/188; the other two bugs mentioned in this thread are fixed.

[2022-10-12 02:45] #175 closed, assigned to nobody

[2022-10-12 20:52] eatonphil commented on #92
I confirmed that the flags you mentioned originally fix the issue and don't require --privileged, @sublimator. I'm adding them to docs now. Thanks!

[2022-10-12 21:01] eatonphil commented on #92
The way I can get it working with docker-compose on mac @lewisdaly is to set the cap_add.

[code]

Then you don't need --privileged there and the data file is not owned by root.

[2022-10-13 04:52] lewisdaly commented on #92
Thanks @eatonphil and @sublimator - I forgot that you could change the user inside the container, but regardless the `cap_add` setting does the trick!

[2022-10-13 04:53] lewisdaly commented on #92
@sublimator can we consider this resolved now?

[2022-10-13 05:02] sublimator commented on #92
I am not 100% sure, ask @jorangreef

There seems to be a PR that "closes $issue" at #197, which if merged, will provide you with an answer :)

[2022-10-13 05:05] sublimator commented on #92
Thinking a bit more, I think patching [TestContainers](https://www.testcontainers.org/) so that the workaround could be encoded for the test should be done before closing this out ? That way the tests will run on a clean clone, with little faffing around ?

[2022-10-13 05:11] sublimator commented on #92
Wait, this issue is at tigerbeetle repo I just realized. Addled!

[2022-10-13 21:09] #92 closed, assigned to sublimator

[2022-10-14 14:05] sentientwaffle opened #200 "Bug: Huge SuperBlock zone read"
Via Discord:

[code]

---

- I'm not sure where this read originates is yet — we shouldn't ever be reading a buffer that large.
- That offset is within the SuperBlock zone, `copy=0`, within the trailers. Because trailers are encoded as variable-length it is hard to say which that is.

[2022-10-15 03:56] sirinath opened #202 "What about regular data?"
I would like the same speed and guarantees from a regular DB.

Can you guys release multiple DBs. One for accounts, one for time series data and one for regular data. Or add the ability to support this in the existing DB itself.

Also sometimes financial data like stock prices or quotes fits better in a time series oriented DB.

[2022-10-15 21:25] nurturenature commented on #200
Hi,

Confirming that the repository >= [SuperBlock: Fix client table body decoding](https://github.com/tigerbeetledb/tigerbeetle/commit/738108f908f0649f0565ac1986bff834efecb78d) exhibits no errors/panics, while the repository < this version is problematic using the Java client.

Thanks for the feedback on Discord.
I've updated the tests to include `--tigerbeetle-update git-revision`, `--tigerbeetl

[2022-10-15 21:28] sentientwaffle commented on #200
Nothing to apologize for! Thanks for confirming this too.

[2022-10-15 21:28] #200 closed, assigned to nobody

[2022-10-16 21:33] nurturenature opened #205 "latency spike/cycle every ~128 operations, correlates with: replica: on_request: ignoring op=... (too far ahead, checkpoint=...)"
Hi,

Increasing the timeout for client operations to several seconds will allow the operation to complete in a multi replica/client config.
It does show an interesting pattern with latency.

For a baseline view, 1 replica and 1 client.
(If you squint a bit, can you see a wave pattern in the latency times?)

![1r-1c](https://user-images.githubusercontent.com/86082495/196059026-d2981f3e-4b06-4261-93

[2022-10-16 22:02] sentientwaffle commented on #205
Good catch, @nurturenature! This is actually a known issue :smile:. Every wrap of the WAL (128-4 operations in a debug build) we need to "checkpoint" before we are able to "wrap" the WAL and start overwriting old entries. Part of the checkpoint process involves saving some state for each client (hence the correlation you found). We already have a plan to address this (as part of a larger change to

[2022-10-16 23:09] nurturenature commented on #205
Thanks for the explanation and being good natured about reporting a known.
I get excited when there's binary count cycles and log correlation. 🙂

So at the current time, a good multi r, multi c config to develop and test with would be: 3 replicas, 5 clients, ~10+ tps.
Applying more transactional pressure after that will only slow things down

![3r-5c](https://user-images.githubusercontent.com/8608

[2022-10-16 23:09] #205 closed, assigned to nobody

[2022-10-17 13:21] jorangreef commented on #202
Thanks @sirinath ! Appreciate your confidence in TigerBeetle.

We have heard from other people about this too, since TigerBeetle's fault models are stricter.

Long term, we are designing TigerBeetle as a library that will support custom state machines, i.e. custom business logic.

[2022-10-17 16:58] batiati opened #206 "Timeout handling at the client side."
### The problem

The **VSR client** handles request timeouts by retrying indefinitely through each node of the cluster until it finds one that can reply:

From [vsr/client.zig](https://github.com/tigerbeetledb/tigerbeetle/blob/b68add563984bfab4268e25129c8f7604fd5651c/src/vsr/client.zig#L377)
[code]

In this approach, the client implementation does not offer the application semantics for "timed out

[2022-10-18 00:54] nurturenature commented on #206
From the experience of writing a small test app using the Java client, there are some behaviors that would be nice:

new Client()
  - returns an error if it's known that a client can not be created, was not created
  - then may block indefinitely as it tries, until it knows

client.close()
  - may not block
  - may return not able to close due to reason

client.status()
  - may not block
  - retur

[2022-10-18 09:12] batiati commented on #206
@nurturenature, once again, thank you for the detailed report!

There are a few situations where we can `@panic` on the client side, causing the application to crash, but this one you reported **should not panic**, I will open an issue for that ASAP.

[code]

[2022-10-18 15:32] sirinath commented on #202
@jorangreef Hopefully we will see this soon. A generic TigerBeetleDB for all data (accounting, time series, structured, semi and unstructured, dimensional, tensor, sparital, etc.)

[2022-10-19 13:14] sentientwaffle commented on #206
Hi @batiati, I apologize for the slow reply.

The lack of a timeout in the client is a design choice. The issue is that even if we time out, the request may have already made it to the cluster and been executed, and the client hasn't received a reply due to an asymmetric network partition. Alternatively, the request (or reply) packet may simply be delayed but arrive eventually.

If the client surf

[2022-10-19 14:18] batiati commented on #206
Hi @sentientwaffle, thank you for the clarification.

That makes perfect sense to me.
At first glance, it seems odd from the application's perspective, but it is fine if we just assume this behavior for network partition events.

Another point I'd like to address is the `@panic` caused by session eviction. What do you think we should do in this case? I suppose that it is ok to panic the user's app

[2022-10-19 14:20] sentientwaffle commented on #206
Yes, this panic will go away. In this case we do need to surface an error from the client.

[2022-10-19 14:23] batiati commented on #206
Nice, I'll work on that in a separate PR.
Thanks!

[2022-10-20 16:32] sentientwaffle opened #212 "Recovery readiness roadmap"
- [x] Right now we depend on VSR recovery protocol to recover a node that crashes & comes back. This has a huge downside: if the majority of the cluster goes down, you can't (safely) use recovery protocol to bring it back. This means you can't actually bring a whole cluster down & back up!
    - To replace this we will implement recovery on top of our superblock instead.
    - Implemented: https:/

[2022-10-20 17:41] sentientwaffle commented on #183
Fixed by https://github.com/tigerbeetledb/tigerbeetle/pull/177.

[2022-10-20 17:41] #183 closed, assigned to nobody

[2022-10-20 17:42] sentientwaffle commented on #188
Fixed by https://github.com/tigerbeetledb/tigerbeetle/pull/177.

[2022-10-20 17:42] #188 closed, assigned to nobody

[2022-10-20 18:18] #186 closed, assigned to nobody

[2022-10-21 12:54] jorangreef commented on #206
Thanks @batiati, closing for the time being. We have this in mind.

[2022-10-21 12:54] #206 closed, assigned to nobody

[2022-10-21 12:55] jorangreef commented on #202
Thanks @sirinath that will be something! I hope that as a library we may well see this.

[2022-10-21 12:55] #202 closed, assigned to nobody

[2022-10-21 19:23] nurturenature opened #215 "random transactions (w/no environmental faults) can panic or cause the replica to become unavailable"
`jepsen-tigerbeetle` is fuzzing its way into panics and an unavailability doing random transactions in a no fault environment.

These are grouped together in a single issue as they represent the current known failed outcomes.

And hopefully as a way to learn how to get this class of coverage into VOPR.

With 1 replica, 1 client, ~4-5k transactions:

----

[code]

[it.data_block_index-tail-500.log]

[2022-10-22 00:23] sentientwaffle commented on #215
Thanks, @nurturenature, this is great! Which commit are you running?

[2022-10-22 00:32] nurturenature commented on #215
642e2e905e1a1827e7b08dcca602888c9962db88 which includes all of the latest LSM commits.

[2022-10-22 00:33] sentientwaffle commented on #215
Perfect; thank you! I'll check it out.

[2022-10-22 01:10] sentientwaffle commented on #215
Can you double-check the commit number your replicas are running? From [it.data_block_index-tail-500.log](https://github.com/tigerbeetledb/tigerbeetle/files/9841785/it.data_block_index-tail-500.log):

[code]

But as of https://github.com/tigerbeetledb/tigerbeetle/pull/177 `table_iterator.peek()`'s type signature is `fn peek(it: TableIterator) error{Empty, Drained}!Table.Key` (previously it was `fn

[2022-10-22 18:39] nurturenature commented on #215
And dang it, 😔, the scripts weren't git switching appropriately so you are correct, these panics/behaviors were from before the latest LSM work.

And with the appropriate commits, ran the tests overnight for 8 hours of 15 minute tests through different replica/client/worker configs:

[code]
And *no* client evictions were triggered either!  🙏

May be at the point where an app can run a cluster inde

[2022-10-22 18:39] #215 closed, assigned to nobody

[2022-10-22 19:04] sentientwaffle commented on #215
No worries! I too am familiar with the confusing disappointment of not finding bugs in code. :wink:

Just so you know, partition panics around `op_checkpoint` assertions will usually be because we haven't implemented state transfer yet. There is a stopgap "fix" (aka kludge) in https://github.com/tigerbeetledb/tigerbeetle/pull/141: https://github.com/tigerbeetledb/tigerbeetle/blob/f68358a708636c0f0

[2022-10-26 21:47] eatonphil opened #226 "From 10ms batches to 12s batches with Go client"
I am testing out the Go sample code here: https://github.com/tigerbeetledb/tigerbeetle-go/pull/17/files.

Both inside Docker and outside I get the same behavior:

[code]

Where batches start out performing reasonably and then get an orders of magnitude slower after around 40,000 transfers. These ones show up as 2s and 14s but that's because TigerBeetle debug mode is on. Without them they are more

[2022-10-26 22:55] sentientwaffle commented on #226
The slowdown happens when we commit op 8, which (with the default configuration of `lsm_batch_multiple=4`) is the first op which needs to prefetch against the on-disk levels (just level 0). For some reason the prefetch stage is taking far longer than expected.

[2022-10-27 18:02] sentientwaffle commented on #226
- The slow op encountered is `create_transfers`.
  - The step that is taking too long is the commit's prefetch.
  - (The value cache isn't helping because we are checking for ids that exist — we have to read from the levels.)
- The reads are all hitting the grid cache, so it isn't IO.
- The groove's prefetch concurrency is determined by `Grid.read_iops_max`.
- `Grid.read_iops_max` is currently 15.

[2022-10-31 11:59] batiati opened #230 "C client hangs when submitting concurrent requests"
TigerBeetle's C client hangs when submitting concurrent requests with `maxConcurrency` greater than ~`message_pool.messages_max_client`~ `config.client_request_queue_max`.

This behavior can be reproduced both in the Java and Go clients:
The [Go source code can be found here](https://gist.github.com/batiati/2c64214b819d96bb74ef3ae3594fa0c8) and [the Java version can be found here](https://gist.git

[2022-11-01 04:38] Cfouria opened #233 "Memory Fault Model and ECC memory schemes"
Hello, I was reading the Design doc of this awesome project, saw the ECC mention, and found:

Confused I searched and found Side-band ECC, On-die ECC, Inline ECC(LPDDR only?), and Link-ECC(LPDDR only?) schemes. Edit: [MemTest86 seems good source](https://www.memtest86.com/ecc.htm)
I thought that 'DDR5 has ECC' before this and imagine others will too.

So, will On-die ECC will be good enough?
Or, i

[2022-11-01 10:44] jorangreef commented on #233
Thanks @Cfouria for raising a great question—the difference between what seems to be hop-by-hop (on-die ECC) vs end-to-end correction (CPU error-detection).

TigerBeetle does not detect the type of memory used, so perhaps we could change "not supported by" to read "not targeted by" or "not recommended", leaving the difference between on-die vs CPU error detection to the operator, according to thei

[2022-11-01 20:45] sentientwaffle commented on #233
Updated in https://github.com/tigerbeetledb/tigerbeetle/pull/222/commits/6e7336d4c1743aad017dfbfc2838dde4ff7e6ea6

[2022-11-02 01:23] Cfouria commented on #233
I agree it's the operators choice. Just worried about how on-die is being advertised as ECC. And that worry isn't the responsibility of this project. Thanks for your time!

[2022-11-02 14:38] #230 closed, assigned to nobody

[2022-11-06 15:13] #233 closed, assigned to nobody

[2022-11-08 13:22] gytisgreitai opened #240 "thread 1 panic: reached unreachable code"
[code]

[2022-11-08 14:18] sentientwaffle commented on #240
Interesting! It looks like this is hitting: https://github.com/tigerbeetledb/tigerbeetle/blob/a95201d8522605a932c472b806c2792ea4206c39/src/lsm/manifest.zig#L295
This is surprising — the tables should be in the correct order.

@gytisgreitai, could you please share the code you use to drive the TigerBeetle client? I'd like to try to reproduce this bug.

[2022-11-08 14:32] michielbdejong opened #241 "Storing transfer comments in tigerbeetle?"
Suppose my application requires me to store, say, a 30-byte comment for each transfer that passes through my system. The `UserData` field only allows 16 bytes. Think for instance of a comment that explains what the transfer is for, like details about a purchase, the URL of some resource I paid for in a Web Monetization setting, or a user-defined message that was added to a bank transfer.

I unders

[2022-11-08 18:51] gytisgreitai commented on #240
Started creating accounts:
[code]

But it took a bit too long, so once 10k were available, started hitting this with httperf:

[code]
The data dir is 3.3G gziped, can upload if you need that.

[2022-11-08 19:37] eatonphil commented on #240
Just one other point about slowness based on the code you showed; when you're entering a bunch of accounts or transfers at once you're going to see a huge difference between calling `createAccounts` and `createTransfers` with a single argument versus submitting batches. You can see also the [tigerbeetle-node section on the topic](https://github.com/tigerbeetledb/tigerbeetle-node#batching).

[2022-11-08 21:59] sentientwaffle commented on #240
Thanks, @gytisgreitai! I am reworking our tests soon to cover this area in more depth.

[2022-11-08 22:33] sentientwaffle commented on #241
As far as I know, no one has experimented with this (yet!). Most use a secondary database and don't actually need 1M transfers/second. And those without the secondary database haven't needed more than 16-bytes for extra data.

Just a few random thoughts for now:
- Right now we don't support 0-amount transfers (i.e. it triggers an error from the state machine). Though I guess you could just send mo

[2022-11-08 23:54] jamii opened #242 "Replace strings with enums in parameters to type-generating functions."
In eg `CompactionType` we use `comptime name: []const u8`. In stack traces, debuggers and profilers these are printed as arrays of bytes:

[code]

Using an anonymous enum instead would print as:

[code]

[2022-11-09 00:34] jamii commented on #226
With the branch above I'm seeing 1.32s for compacting 532415 transactions. Enough to fill one table on level 0 (64mb / 128 bytes = 524288 transactions).

Compaction works one 64kb data block at a time, serializing all the reads. So compacting the immutable table into level 0 takes 64mb/64kb = 1024 reads and 1024 writes. If we ballpark 100us read/write latency, that gives us a lower bound of ~200ms

[2022-11-09 14:27] michielbdejong commented on #241
IIUC there are now 2 datatypes in TigerBeetle, accounts and transfers, and both are 128-byte structs.
One could imagine a third datatype, which would have just a 16-byte id and then 112 bytes of user data.

Or alternatively, 2 extra data types, accountData and transferData, which would be allowed to appear in an accounts batch or a transfer batch respectively (and also be fetched alongside account

[2022-11-09 18:58] jamii opened #243 "Service discovery"
(Notes from discussion on service discovery.)

When cluster membership changes, the client needs to discover new cluster ip addresses.

Given:
* The ultravisor is the source of truth for cluster ip addresses.
* The ultravisor never moves - we don't have to deal with discovering new ultravisor ip addresses.

Requirements:
* The client automatically discovers new addresses, without manual interventi

[2022-11-09 22:15] sentientwaffle commented on #241
We aren't at the "accept a PR" stage but we are discussing possibilities.

Just a little context around the 1 million transfers/second: often times a single "payment" corresponds to many different transfers (e.g. fees, currency exchange, etc). So the payment might be a single update in the foreign database, and have a "transfer amplification".

[2022-11-10 01:58] jorangreef commented on #241
Thanks @michielbdejong — this is a great use case. As @sentientwaffle said, we're thinking about this. Thanks also for the link to Prejournal!

[2022-11-10 06:45] michielbdejong commented on #241
Thanks for your answers!

For the Prejournal case I think we're in luck because it adheres to [CLOGS](https://michielbdejong.com/blog/26.html) - keeping a filesystem copy of all the source documents that feed into the ledger, and on-ledger we only need to refer to for instance an on-disk CSV filename + a line number within that CSV file. That can easily go in less than 16 bytes. I'll try to find t

[2022-11-10 06:45] #241 closed, assigned to nobody

[2022-11-17 18:08] eatonphil opened #250 "Dotnet client automated tests"
At a minimum we should add steps to Github Actions that verifies the dotnet client builds on macos/linux (and windows?).

We should also have its tests run.

[2022-11-17 18:08] eatonphil opened #251 "Missing docs for Go client"
There is a sample in the Go client but there are no docs yet.

[2022-11-17 18:11] eatonphil opened #252 "Build tests on various distros only happens for Node client, not other clients"
The Node client has some scripts to test that it is installable on 6 major distros. The other clients don't yet have that.

We should have the same sort of scripts that test installability for every client.

[2022-11-17 18:30] sentientwaffle opened #253 "StateMachine: Remove pending transfer timeout≠0 constraint"
## Background

In the context of a switch, TigerBeetle may need to coordinate with multiple other ledgers. To avoid undermining guarantees given to other ledgers, we should not require pending transfers to time out.

As a bonus, this means I don't have to worry about whether "timeout" is supposed to be "time_out" when used as a verb in the error code.

## Tasks

- [ ] Allow pending transfers to se

[2022-11-17 18:42] jorangreef commented on #253
Thanks @dtornow!

[2022-11-17 18:43] eatonphil opened #254 "Run sample programs in docker-compose in Github CI"
I got this started [here](https://github.com/tigerbeetledb/tigerbeetle-go/pull/17/files).

Now that we've got a monorepo this can even be simplified a bit more. Instead of running against the latest built Docker image for the TigerBeetle server, it should build against the current commit so we are truly running integration tests.

And it should run for every sample program so that we can ensure ou

[2022-11-17 18:43] jorangreef commented on #253
Re: documentation:

1. When within the switch, the timeout must be set, since the switch is coordinating whether the transaction proceeds or rolls back, and since the payer/payee may be unreliable.

2. When TB is used by payer/payee, then timeout must not be set. Since payer/payee do not coordinate the transaction, only the switch does. Payer/payee must not undermine their promise made to the swit

[2022-11-17 18:56] sentientwaffle opened #255 "StateMachine: Split amounts/accounts in storage"
## Background

Most of an `Account` is immutable, but the balance fields (`{debits,credits}_{pending,posted}`) are mutable. Currently the whole `Account` object (including balance fields) is stored together in the Accounts object tree. This means that every time a transfer updates an account's balance, the whole account object must be rewritten (and eventually recompacted).

Compaction of immutabl

[2022-11-17 19:04] sentientwaffle opened #256 "LSM: Rename `Table` to `TableLevel`"
- Rename `Table` to `TableLevel`
- Rename `TableType` to `TableLevelType`

This way we can call on-disk tables "level tables", and can use just "table" more generally, to mean "mutable table | immutable table | level table".

[2022-11-17 20:05] eatonphil opened #257 "Push docs build to tigerbeetledb/docs on merge to main"
Based on how we push updates to the tigerbeetle-go repo, we could also push updates to the tigerbeetledb/docs repo automatically as well.

This is a matter of:

[code]

[2022-11-17 20:06] eatonphil commented on #257
@cb22 if I could get your help on this sometime that would be awesome.

[2022-11-18 16:35] sentientwaffle opened #259 "Roadmap"
The tasks listed are not guaranteed, and they are not ordered.
The intent is to give a sense of the project's direction.

- :red_circle:: Must be done for the production release.
- :yellow_circle:: Nice-to-have for the production release.

### Stability: Storage

- [x] VSR: Manifest free-set. :red_circle:
- [x] VSR: 256-byte headers. :red_circle:
  - [x] VSR: State machine version in headers. :red

[2022-11-18 17:08] sentientwaffle opened #262 "LSM: remove_from_memory"
## Background

When a key is removed from the LSM, a tombstone is created. This tombstone is eventually compacted down to the last level of the tree, at which point it is dropped.

The accounting state machine commits `linked` account/transfer chains by executing each member in sequence — if an error is encountered, it rolls back the chain. "Rolls back the chain" here means it removes the new acco

[2022-11-18 17:18] jorangreef commented on #262
To emphasize also the invariant that we need to be careful in case a previous version of the key exists in the mutable table from a previous batch.

It would be great if the tree can handle this case safely regardless of state machine, on behalf of the state machine.

[2022-11-18 18:37] sentientwaffle opened #264 "LSM: Remove PostedGroove"
Make `Groove` flexible enough so that the separate `PostedGroove` type is no longer needed.

See: https://github.com/tigerbeetledb/tigerbeetle/blob/85dc0a70fccc86294208d4e957901aa675059cf7/src/lsm/posted_groove.zig#L20

As part of this, the StateMachine's PostedGroove should be indexed by `timestamp`, not `id` (unless there is a reason for using `id` that I am missing).

[2022-11-18 20:51] sentientwaffle commented on #262
Excellent point! I assumed we needed to allow `Groove.remove()`s for keys which were not prefetched, but it looks like we already forbid that:

[code]

---

Instead of exposing `Groove.remove_from_memory()`, `Groove.remove()`'s implementation can opportunistically/automatically skip creating a tombstone. Like so:

- Right now we only insert into `prefetch_ids` when `tree.lookup_from_memory` misses

[2022-11-21 15:16] eatonphil opened #265 "Java client should support alpine"
This will also maybe become obvious once the Node client's tests on major distros are ported to the Java (and Go client) as well.

[2022-11-22 18:21] sentientwaffle opened #269 "LSM/Compaction: Beat Pacing and Scheduling"
- [ ] Perform a fixed (deterministic) amount of work _each beat_. (Instead of having to catch-up at the end of the measure.)
- [ ] Spread compaction work as evenly as possible across beats.
- [ ] Do not compact multiple levels _of a particular tree_ concurrently.
  - (This automatically fixes the last determinism issue mentioned in https://github.com/tigerbeetledb/tigerbeetle/pull/247 §3).
  - As

[2022-11-22 18:21] sentientwaffle opened #270 "LSM/Compaction: CPU/IO Pipelining"
## Background

Currently, compaction proceeds roughly like this (sequentially):

1. Read some blocks. (IO).
2. Sort-merge the blocks (CPU).
3. Write the output blocks and start the next set of reads (IO).

But this leaves disk throughput unused during the sort-merge.

## Solution

As described in [Pipelined Compaction for the LSM-tree](https://www.comp.nus.edu.sg/~hebs/pub/zigangpipe_ipdps14.pdf),

[2022-11-22 18:21] sentientwaffle opened #271 "LSM/Compaction: Table Scale"
## Background

Currently, all tables are 64MiB size (max).

When the immutable table is flushed, we rewrite up to `lsm_growth_factor * table_size_max = 8 * 64MiB` of level 0 (for each tree!).

## Solution

To [minimize write amplification](see <https://github.com/tigerbeetledb/tigerbeetle/pull/244>):

- Each tree has its own max table size.
- A tree's table size max is equivalent to the size of th

[2022-11-22 18:21] sentientwaffle opened #272 "LSM/Compaction: Move Table"
When the input table from level A does not overlap with any tables on level B, "move" it instead of merging it value-by-value.

A "move" is simply an update to the table's `level` in the manifest.

Adjacent tables that are less than their full size should be coalesced so that levels don't fill up with tiny partial tables (which would add too much metadata overhead).

[2022-11-22 18:21] sentientwaffle opened #273 "LSM/Compaction: Level Iterator Acceleration"
## Summary

When compacting level A to level B, read/buffer-ahead `growth_factor`-times as many data blocks from level B as level A.

## Problem

Given `lsm_growth_factor=4`, suppose table A overlaps with 4 tables from level B:

[code]

But tables are (around) the same size, so they have the same number of data blocks (6 in this case, indicated `.`):

[code]

If we read (`x`) data blocks at the sa

[2022-11-22 18:22] sentientwaffle opened #274 "LSM/Compaction: Performance"
## Background

#### Requirements

- Compaction has consistent latency — no write stalls.
- LSM storage must be deterministic.
- When possible, design the IO workload for SSDs by grouping writes [by time-of-death](https://pages.cs.wisc.edu/~remzi/OSTEP/file-ssd.pdf).
- Minimize write amplification (see <https://github.com/tigerbeetledb/tigerbeetle/pull/244>).

#### Current Problems

- Compaction IO

[2022-11-22 19:06] sentientwaffle commented on #262
:thinking: ~This optimization is only valuable for tables which use the [move-table optimization](https://github.com/tigerbeetledb/tigerbeetle/issues/272).~

~But move-table will occasionally coalesce instead — and it will be forced to coalesce at the last level because the [table size increases](https://github.com/tigerbeetledb/tigerbeetle/issues/271). Since we will drop the tombstones then, mayb

[2022-11-23 14:33] sentientwaffle opened #276 "CLI: Cache sizes"
[These 3 config values](https://github.com/tigerbeetledb/tigerbeetle/blob/d15acc663f8882cb02413129e8351bf3238335e6/src/config.zig#L50-L67) are currently defined at compile-time. Instead:
- They should be added as CLI arguments (`--cache-accounts`, `--cache-transfers`, `--cache-transfers-posted`) to `cli.zig`'s `start` command, and plumbed through to `main.zig` where they are passed to `replica.ope

[2022-11-23 16:35] sentientwaffle opened #277 "CLI: cache-blocks argument"
Similar to https://github.com/tigerbeetledb/tigerbeetle/issues/276.

Right now the number of blocks in the grid cache is a constant: https://github.com/tigerbeetledb/tigerbeetle/blob/d15acc663f8882cb02413129e8351bf3238335e6/src/lsm/grid.zig#L154

Instead there should be a runtime CLI argument (`--cache-blocks`, parsed with `parse_size`) and a default (in `config.zig`).

`Grid` should get the count

[2022-11-23 16:50] matklad commented on #276
Question: am I correct that these config values are properties of the replica, and not of the cluster? That is, that different replicas in a cluster can run with different cache sizes?

[2022-11-23 16:51] sentientwaffle commented on #276
Correct

[2022-11-24 18:16] jamii opened #285 "Clean up stray event loops"
Various functions (eg Replica.open) have their own internal event loops so they appear sync from the outside. Consolidate all of these into one event loop per `main` function.

[2022-11-24 18:18] jamii commented on #285
Also relevant - a lot of tests/fuzzers tick through state changes synchronously (eg https://github.com/tigerbeetledb/tigerbeetle/blob/main/src/lsm/tree_fuzz.zig#L183-L188). I'm a little paranoid that because of this they don't have the same concurrent behavior as the full system.

[2022-11-24 19:00] matklad commented on #276
closed by https://github.com/tigerbeetledb/tigerbeetle/pull/282

[2022-11-24 19:04] #276 closed, assigned to nobody

[2022-11-24 19:21] matklad commented on #253
Qs:

Where do I find relevant tests?

It seems like this talks about some specific scenario of usage. Anything I can read on to better understand the context?

[2022-11-24 19:39] sentientwaffle commented on #253
In `state_machine.zig` — I would base off of https://github.com/tigerbeetledb/tigerbeetle/pull/249 (`dj-state-machine-test-table`), because I completely refactored those tests.

The context is a [discussion](https://youtu.be/ZW_emZ4683A?t=2259) between Joran & Dominik Tornow, but it hasn't been written up in more detail yet. The key idea is that if you have multiple independent TigerBeetle cluster

[2022-11-28 21:36] sentientwaffle opened #292 "IO: on_next_tick"
Implement an `IO.on_next_tick` (or maybe on `Storage`?).

Use it to fix the call sites where we synchronously invoke an async callback, e.g. https://github.com/tigerbeetledb/tigerbeetle/blob/a563d521674b0030961f4cc8cc5a2c6e16e98fd5/src/lsm/tree.zig#L299

[2022-11-29 16:01] sentientwaffle opened #294 "StateMachine: Close account"
Depends on https://github.com/tigerbeetledb/tigerbeetle/issues/255

## Semantics

- Add a new account flag: `closed`.
  - Creating a _new_ account with `flags.closed=true` returns an error: `CreateAccountResult.closed_must_be_false`
- Add two new transfer flags: `close_debit_account` and `close_credit_account`.
  - To close an account, call `create_transfers`, with `flags.close_debit_account` and/

[2022-11-29 17:43] sentientwaffle opened #295 "LSM/Grid: Extract iops configuration"
Move definitions of the grid's iops limits (including `set_associative_cache_ways`) into `config.zig`/`constants.zig` (they belong to `ConfigProcess`).

https://github.com/tigerbeetledb/tigerbeetle/blob/c0e0c618f2be79992030e0b6be570f48126a275c/src/lsm/grid.zig#L82-L92

Also update `config.iops_{read,write}_max`

[2022-11-29 20:22] kprotty opened #298 "Client: Auto-generate C header bindings for language clients."
We're now auto-generating the `tb_client.h` C header #223 in source, but this can still go out of sync with either the headers or the source code in the language clients (`src/clients/*`). Write a script (preferably in Zig?) which auto-generates the C bindings for each of the language clients if possible.

- [X] dotnet
- [X] go
- [X] java
- [X] node

[2022-11-29 21:53] batiati commented on #298
It's an excellent idea, you can assign me to that if you wish.

- Dotnet client: it will be really handy, we can generate all C# interop code from Zig.
- Java client: we already ref the `tb_client.zig` file in the JNI layer, but we can generate Java code for enums and get/set declarations from Zig.
- Node client: similar to the Java client, we can generate JS `export`s from a zig script.
- Go clie

[2022-11-30 14:00] #240 closed, assigned to nobody